/* *{
  -ms-overflow-style: none;
} */
.infinite-scroll-component {
  overflow:hidden !important;
}
.productrow {
  padding: 20px;
}

@media only screen and (max-width: 770px)   {
  .productcol {
    margin: 20px;
  }
  .productrow {
    padding:1px;
  }
}