.labelstyle {
    background-color: #CEF7C1;
    padding:10px 20px 10px 10px;
    box-shadow: 5px 5px 2.5px grey;
    margin-bottom:20px;
    font-weight: bold;
}

.profilepara {
    padding:4px;
}


